  @import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
 
  @import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  max-width: max-content;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body{
  background: linear-gradient(180deg, #B3F6FF 0%, #6FFFCB 100%);
  background-repeat: no-repeat;
  height: 100vh;
}
#nav-bar{
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  width: 80%;
  height: 100px;
}
#logoimg{
  height: 80px;
  position: absolute;
  top: 0%;
}
#theme {
  position: absolute;
  top: 2%;
  right: 1%;
  width: max-content; 
  height: max-content;
  background-color: white;
}

#main{
background-color: rgba(255, 255, 255, 0.50);
stroke-width: 4px;
stroke: #000;
filter: drop-shadow(13px 4px 4px rgba(0, 0, 0, 0.25));
height: 450px;
width: 500px;
}
#main1{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(0, 0, 0);
}
ul{
  margin: 30px;
  list-style-type:none;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  /* border: solid; */
  height: 200px;
}
#num-ques{
  color: #000;
font-family: Koulen;
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
#question{
  color: #000;
font-family: Darumadrop One;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
#sec-div{
  border: 1px solid #000;
background: rgba(221, 182, 151, 0.77);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
width: 400px;
height: 300px;
}
#prim-div{
  display: flex;
  justify-content: center;
}
button{
  border-radius: 5px;
border: 1px solid #000;
background: #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
color: #000;
font-family: Darumadrop One;
font-size: 15px;
height: 70px;
width: 150px;
}
button:hover{
  background-color: #6FFFCB;
}
#result-div{
  border: 1px solid #000;
background: #FFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
color: #000;
font-family: Darumadrop One;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
height: 300px;
width: 300px;
}
#mainreslut-div{
display: flex;
justify-content: center;
align-items: center;
height: 450px;
}
#result-but{
margin: 70px;
font-size: 30px;
border: 1px solid #000;
background: #DDB697;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.high{
  height: 50px;
  margin: 10px;
}
.high:hover{
  background-color: #FF979E;
}